---
http_interactions:
- request:
    method: get
    uri: https://api.printful.com/sync/products/81975784
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OGs1Zno3Y2stNGRvbC1yZjBmOnl5ZjYtZ2d0bWR2eDQyeHpo
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":200,"result":{"sync_product":{"id":81975784,"external_id":"5bb76c21750039","name":"Hooded
        Sweatshirt","variants":22,"synced":22},"sync_variants":[{"id":900767100,"external_id":"5bb76c21750906","sync_product_id":81975784,"name":"Hooded
        Sweatshirt - Black / S","synced":true,"variant_id":5530,"retail_price":"21.00","currency":"USD","product":{"variant_id":5530,"product_id":146,"image":"https://d1yg28hrivmbqm.cloudfront.net/products/146/5530_1526560309.jpg","name":"Gildan
        18500 Heavy Blend Hooded Sweatshirt (Black / S)"},"files":[{"id":79511726,"type":"default","hash":"9fd3b0166fe5ed6647dc9d41e1c912c8","url":null,"filename":"white-logo.png","mime_type":"image/png","size":59900,"width":3000,"height":3000,"dpi":90,"status":"ok","created":1538746309,"thumbnail_url":"https://d1yg28hrivmbqm.cloudfront.net/files/9fd/9fd3b0166fe5ed6647dc9d41e1c912c8_thumb.png","preview_url":"https://d1yg28hrivmbqm.cloudfront.net/files/9fd/9fd3b0166fe5ed6647dc9d41e1c912c8_preview.png","visible":true},{"id":79513437,"type":"preview","hash":"bce3f25083a7d4bb980ff1fb794450f3","url":null,"filename":"mockup-610cdd99.jpg","mime_type":"image/jpeg","size":34866,"width":600,"height":600,"dpi":72,"status":"ok","created":1538747425,"thumbnail_url":"https://d1yg28hrivmbqm.cloudfront.net/files/bce/bce3f25083a7d4bb980ff1fb794450f3_thumb.png","preview_url":"https://d1yg28hrivmbqm.cloudfront.net/files/bce/bce3f25083a7d4bb980ff1fb794450f3_preview.png","visible":false}],"options":[]},{"id":900767101,"external_id":"5bb76c217510d2","sync_product_id":81975784,"name":"Hooded
        Sweatshirt - Black / M","synced":true,"variant_id":5531,"retail_price":"21.00","currency":"USD","product":{"variant_id":5531,"product_id":146,"image":"https://d1yg28hrivmbqm.cloudfront.net/products/146/5531_1526560304.jpg","name":"Gildan
        18500 Heavy Blend Hooded Sweatshirt (Black / M)"},"files":[{"id":79511726,"type":"default","hash":"9fd3b0166fe5ed6647dc9d41e1c912c8","url":null,"filename[...]
