---
http_interactions:
- request:
    method: get
    uri: https://api.printful.com/sync/products
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OGs1Zno3Y2stNGRvbC1yZjBmOnl5ZjYtZ2d0bWR2eDQyeHpo
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"code":200,"result":[{"id":81975827,"external_id":"5bb76c4ae0e4b4","name":"Hooded
        Sweatshirt","variants":23,"synced":23},{"id":81975784,"external_id":"5bb76c21750039","name":"Hooded
        Sweatshirt","variants":22,"synced":22},{"id":81975693,"external_id":"5bb76ba3005834","name":"Trucker
        Cap","variants":6,"synced":6},{"id":81975495,"external_id":"5bb76b4bdc3432","name":"Trucker
        Cap","variants":3,"synced":3},{"id":81975405,"external_id":"5bb76ad7c3d1a3","name":"Short
        sleeve t-shirt","variants":105,"synced":105},{"id":81975324,"external_id":"5bb76a9bcbf485","name":"Short
        sleeve t-shirt","variants":35,"synced":35}],"extra":[],"paging":{"total":6,"offset":0,"limit":20}}'
  recorded_at: Thu, 20 Dec 2018 00:47:25 GMT
- request:
    method: get
    uri: https://api.printful.com/sync/products/81975827
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OGs1Zno3Y2stNGRvbC1yZjBmOnl5ZjYtZ2d0bWR2eDQyeHpo
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"code":200,"result":{"sync_product":{"id":81975827,"external_id":"5bb76c4ae0e4b4","name":"Hooded
        Sweatshirt","variants":23,"synced":23},"sync_variants":[{"id":900767831,"external_id":"5bb76c4ae0ecf5","sync_product_id":81975827,"name":"Hooded
        Sweatshirt - White / S","synced":true,"variant_id":5522,"retail_price":"21.00","currency":"USD","product":{"variant_id":5522,"product_id":146,"image":"https://d1yg28hrivmbqm.cloudfront.net/products/146/5522_1526560589.jpg","name":"Gildan
        18500 Unisex Heavy Blend Hooded Sweatshirt (White / S)"},"files":[{"id":79511751,"type":"default","hash":"f8385e8f96f8def967b73103106dcda4","url":null,"filename":"black-logo.png","mime_type":"image/png","size":108645,"width":3000,"height":3000,"dpi":90,"status":"ok","created":1538746316,"thumbnail_url":"https://d1yg28hrivmbqm.cloudfront.net/files/f83/f8385e8f96f8def967b73103106dcda4_thumb.png","preview_url":"https://d1yg28hrivmbqm.cloudfront.net/files/f83/f8385e8f96f8def967b73103106dcda4_preview.png","visible":true},{"id":79513521,"type":"preview","hash":"f83408bc9c8d8d167a6430d021c83f99","url":null,"filename":"mockup-63c41884.jpg","mime_type":"image/jpeg","size":37044,"width":600,"height":600,"dpi":72,"status":"ok","created":1538747466,"thumbnail_url":"https://d1yg28hrivmbqm.cloudfront.net/files/f83/f83408bc9c8d8d167a6430d021c83f99_thumb.png","preview_url":"https://d1yg28hrivmbqm.cloudfront.net/files/f83/f83408bc9c8d8d167a6430d021c83f99_preview.png","visible":false}],"options":[]},{"id":900767832,"external_id":"5bb76c4ae0f452","sync_product_id":81975827,"name":"Hooded
        Sweatshirt - White / M","synced":true,"variant_id":5523,"retail_price":"21.00","currency":"USD","product":{"variant_id":5523,"product_id":146,"image":"https://d1yg28hrivmbqm.cloudfront.net/products/146/5523_1526560587.jpg","name":"Gildan
        18500 Unisex Heavy Blend Hooded Sweatshirt (White / M)"},"files":[{"id":79511751,"type":"default","hash":"f8385e8f96f8def967b73103106dcda4","url":null,"f[...]
[...]
