.container
  .row.justify-content-center
    .col-10.col-sm-8.col-md-6.col-lg-4
      .card.mx-auto.mt-5.shadow
        = image_tag("indoking-logo.png", class: "mx-auto img-fluid")
        %h3.mx-auto Work in Progress...
